html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

body { overflow-x:hidden;}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    font-size:1rem;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #2cf087;
}

h1 {
   font-size: 2rem ;
}
h2{
    font-size:1.5rem;
}

nav li {
    display: inline-block;
}

nav {
    background: black;
    height: 3rem;
  
}

nav a {
    color:yellow;
}
