*
{
border: 0px;
padding: 0px;

}
h1 {
    font: bold 35px arial, sans-serif;
}
h2 {
    font:bold 20px arial, sans-serif;
}


li {
 list-style:none;   
}

body{
font: 18px arial, sans-serif;
background-color:#2cf087;
text-align: center;
}
.container{
    width:auto;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    
}

header{
    text-align:center;
}

.header1{
    background:#f02c95;
    padding: 20px;
    color:white;
}

.header2{
    background: white;
}

nav{
    background:black;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.menu{
    text-align: center;
    margin: 0px;
}

.menu li {
    display: inline-block;
    color :white;
    font: bold 20px arial, sans-serif;
    padding:10px 10px;
}
nav li a :hover{
    color:red;
}

.window{
width: 30%;
background: #eb06c4;
display: block;

}

.main{
   width: 60%;
   background:white ;
   box-sizing: border-box;
   display: inline-block;
   
}
.lado{
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    background-color: grey;
    position: absolute;
    

}

.cabeza{
    background:white;
}

small{
    display: inline-block;
    color:black;
    font: 13px arial sans-serif;
}
