<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta charset="utf-8">
        <title>Porta2</title>
        <meta name="description" content="Formulario">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/main.css">
		
	</head>
    <body class="fondo">
<header class=>
    <nav class="nav">
        <ul>
            <li><a href="#">Seguimiento</a></li>
        </ul>
    </nav>
</header>
<section class="">
    
    <form method="POST" class="alto">
        <nav class="mini-nav">
        <ul><li>X</li>
        </nav>
        <img class="slime" src="green-slime.svg">
        
        <header>
            <h1>LOGIN</h1>
        </header>
        <input type="text" name="nombre" placeholder="Nombre" id="nombre">
        <input type="text" name="email" placeholder="Email">
        <input type="submit">
    </form>
</section>       
    </body>
    <script src="js/main.js">
    </script>
    </html>