.dir {
  margin: 10px;
  background-color: #2a190f;
  border-radius: 20px;
  border-bottom: solid 5px black;
  border-left: solid 3px #64381e;
  border-right: solid 3px #1d1008;
}

.animar {
  position: relative;
  animation-name: cards;
  animation-duration: 3s;
}
@keyframes cards {
  0% {
    top: 300px;
  }
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  100% {
    top: 0px;
  }
  100% {
    opacity: 100%;
  }
}

.skull {
  text-transform: uppercase;
  left: 20px;
  animation-name: hat;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes hat {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(12deg);
  }
}

.star {
  text-transform: uppercase;
  left: 20px;
  animation-name: estrella;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  width: 200px;
}
@keyframes estrella {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: white;
}

.fon {
  font-family: Arial, Helvetica, sans-serif;
}

.subtitulo {
  font-family: "Rye", cursive;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:link {
  color: white;
}

.slime {
  position: relative;
  top: -42px;
  left: -153px;
}

/*.skull{
    background-image: url(/M2/Portafolio/wizard.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: -50px;
}*/
.skull {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  animation-name: slidein;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
  from {
    opacity: 100%;
  }
  to {
    opacity: 5%;
  }
}

.img1 {
  width: 500x;
  width: 200px;
}

input {
  border-radius: 30px;
  margin-top: 10px;
  height: 50px;
  color: black;
  padding: 12px 20px;
  font-size: 1rem;
  margin: 15px;
  outline: none;
  border: 0;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

::placeholder {
  font-size: 1rem;
  font-family: Helvetica;
}

input[type=submit] {
  background-color: #00c279;
  outline: none;
}

input[type=submit]:hover {
  background-color: #00e891;
  outline: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  color: #18352a;
  font-weight: bold;
}

.alto {
  font-family: Helvetica, sans-serif;
  text-align: center;
  padding: 30px;
  height: 450px;
  width: 450px;
  background-color: #2d2931;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.246);
}

.button-forms {
  background-color: yellow;
  font-size: 20px;
  padding: 5px;
  border-radius: 15px;
}

.button-sass-ok {
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
  height: 100px;
  color: white;
  background-color: green;
  font-size: 60px;
  text-transform: uppercase;
  border-radius: 15px;
  border-left: solid 25px #69d869;
  border-right: solid 25px #69d869;
  outline: none;
}

.button-sass-caution {
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
  height: 100px;
  color: black;
  background-color: orange;
  font-size: 60px;
  text-transform: uppercase;
  border-radius: 15px;
  border-left: solid 25px yellow;
  border-right: solid 25px yellow;
  outline: none;
}

.button-sass-alert {
  margin-bottom: 12px;
  padding: 10px;
  width: 100%;
  height: 100px;
  color: white;
  background-color: red;
  font-size: 60px;
  text-transform: uppercase;
  border-radius: 15px;
  border-left: solid 25px yellow;
  border-right: solid 25px yellow;
  outline: none;
}

footer, nav {
  background: black;
  width: 100%;
}

footer {
  padding: 10px;
  font-size: 0.8rem;
}

footer a {
  padding-left: 5px;
  color: grey;
}

a:hover {
  color: yellow;
}

.form {
  width: 400px;
  color: #09070c;
  background-color: #eeeeee;
}

body {
  min-height: 100vh;
  background-color: #dcdcdc;
  background-image: url("../../pentagrama.svg");
  background-position: center;
  background-repeat: no-repeat;
}

main {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.center-row {
  justify-content: center;
  align-items: center;
}

.center-column {
  justify-content: center;
  align-items: center;
}

.justy-column-end {
  justify-content: flex-end;
}

.absolute {
  position: absolute;
  top: 100px;
}

.start {
  color: white;
}

.carta {
  background-color: black;
  padding: 10px;
  border-radius: 7px;
  margin: 5px;
  text-align: center;
}

.carta img {
  width: 100px;
  border-radius: 20px;
}

.imgp1 {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  body {
    background-color: #41005f;
  }

  .logo {
    width: 280px;
    padding: 20px;
  }

  .flex-sm-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .flex-sm-row {
    font-display: flex;
    flex-direction: row wrap;
  }

  .titulo-sm {
    font-family: "Metamorphous", cursive;
    color: #ffee00;
    letter-spacing: 2px;
    font-size: 50px;
  }

  .subtitulo-sm {
    text-align: center;
    font-size: 20px;
  }

  .off-sm {
    display: none;
  }

  .nav-sm {
    text-align: center;
    width: 90%;
    border: solid white 10px;
  }

  .nav-sm li {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 20px;
    font-family: "Metamorphous", cursive;
    background-image: url("../../madera-clara.svg");
    background-repeat: no-repeat;
    background-size: 150px 200px;
    background-position: center;
    color: #3d3118;
  }

  .nav-sm li:hover {
    background-image: url("../../madera-clara2.svg");
    background-size: 220px;
    font-size: 1.6rem;
    color: yellow;
  }
}
@media (max-width: 768px) {
  body {
    background-color: #a23ace;
  }

  .flex-sm-row {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  .flex-mdx-row {
    display: flex;
    flex-direction: row;
  }

  button {
    display: none;
  }

  .img1 {
    width: 150px;
  }

  .logo {
    margin: 20px;
    height: 450px;
  }

  a:link {
    color: black;
  }
}
@media (min-width: 768px) {
  .flex-md-row {
    display: flex;
    flex-direction: row nowrap;
  }

  .flex-column-md {
    display: flex;
    flex-direction: column;
  }

  .titulo-box-md {
    padding-right: 15px;
    border-right: solid 2px white;
  }

  .subtitulo-md {
    text-align: right;
    font-size: 1rem;
  }

  .nav-md {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .nav-md li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  a {
    color: white;
    padding-left: 20px;
  }

  .banner-md {
    height: 400px;
    width: 300px;
    border: solid white 10px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    background-color: black;
  }

  .banner-md button:hover {
    background-color: #d843d1;
  }

  .flex-end-md-column {
    justify-content: flex-end;
  }

  button {
    background: yellow;
    color: black;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 2rem;
    margin-top: 20px;
    border: none;
    text-transform: uppercase;
  }

  button a {
    color: black;
  }

  .uper {
    margin-top: 20px;
    text-transform: uppercase;
  }
}
.nav {
  font-size: 1.5rem;
  background: black;
}

.nav li {
  margin: 1rem;
}

.palm {
  background-color: black;
  width: 100%;
  text-align: center;
}

.fondo {
  background-image: linear-gradient(180deg, #211b2c 0, 75%, #2b054e 100%);
}

/*# sourceMappingURL=main.css.map */
