.rule1 { 
    color: chartreuse;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border: white; 
    size: 1px;
}

footer {
    align-content: center;
}

article {
    color: red;
    size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#biblio {
    color: rgb(rgb(78, 161, 22), green, blue);
    font-size: small;
    border: mintcream;
    border-width: 1px;
}

#browse {
    text-align: center;
}


