.animar{
    position: relative;
    top:350px;
}

.animar{
    animation-name: carts;    
    animation-duration: 3.6s;

    
      @keyframes carts {
          0% {top:300px}
          100% {top:0px}   
      }
}

.skull{
        text-transform: uppercase;
        left: 20px;
        animation-name: hat;    
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
        
          @keyframes hat {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(12deg);
            } 
            
          }
    }
    