.animar{
    position: relative;
    top:350px;
}

.animar{
    animation-name: carts;    
    animation-duration: 3.6s;

    
      @keyframes carts {
          0% {top:300px}
          100% {top:0px}   
      }
}

