

.animar{
    position: relative;
    animation-name: cards;    
    animation-duration: 3.0s;

    
      @keyframes cards{
          0% {top:300px}
          0%{opacity: 0%;}
          30% {opacity: 0%;}
          100% {top:0px}  
          100%{opacity: 100%;} 
      }
}
.skull{
        text-transform: uppercase;
        left: 20px;
        animation-name: hat;    
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    
        
          @keyframes hat {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(12deg);
            } 
            
          }
    }
    

    .star{
      text-transform: uppercase;
      left: 20px;
      animation-name: estrella;    
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      width: 200px;
  
      
        @keyframes estrella {
          from {
              transform: rotate(0deg);
          }
          to {
              transform: rotate(360deg);
          } 
          
        }
  }
  