
.button-forms{
    background-color: yellow;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    
}

.button-sass-ok{@include buttons-sass(green,white,rgb(105, 216, 105));}

.button-sass-caution{@include buttons-sass(orange,black,yellow);}

.button-sass-alert{@include buttons-sass(red, white,yellow);}

