footer, nav{
    background:black;
    width: 100%;
}

footer{
    padding:10px;
    font-size: 0.8rem;

}

footer a {
    padding-left: 5px;
    color:grey;
}
a:hover{
    color: yellow;
}

.form{
    width: 400px;
    color:#09070c;
    background-color: rgb(238, 238, 238);
}