*{
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-flow:column;
    align-items: center;

}

main{
   width: 1200px;
    border: solid red ;
    
}
.mesa{
    background-image: url(../background_4000x4000.jpg);
    background-position:center center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 100%;
    height: 1000px;
    border:solid grey;
    background-color: blue;
    
    background-size:cover;
    background-repeat: no-repeat;
    
}
article{
    border:solid grey 2px;

}
.block{
    width: 20%;
    border:solid 2px yellow;
}