

.slime{
    position: relative;;
    top: -42px;
    left: -153px
}


/*.skull{
    background-image: url(/M2/Portafolio/wizard.svg);
    background-position:center;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: -50px;
}*/

.skull{
  height:250px;
  width: 100%;
  margin-bottom:20px;
}

.logo{
    animation-name: slidein;    
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
      @keyframes slidein {
        from {
          opacity:100%;

        }
      
        to {
            opacity:5%;
        } 
        
      }
}


.img1{
  width: 500x;
  width: 200px
}