

.slime{
    position: relative;;
    top: -42px;
    left: -153px
}


/*.alto{
    background-image: url('../../skull.svg');
    position: relative;
    background-size: 100px;
    background-repeat:no-repeat;
    background-position: center;
    background-position-y: 50px;
    
}*/