<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <title>M4_17_ Evaluacion</title>
    </head>
<body>
   <h1>Actividad de aprendizaje 8: radio button</h1>
   <p>• Crear un CRUD con framework Vue.js, que permita agregar  productos (5 puntos), listar (5 puntos), actualizar  (5 puntos), y borrar productos  (5 puntos), mediante manejo metodos. (total 20 puntos)
      • Utilizar framework de diseño Boostrap (10 puntos).
      • La aplicación debe estar creada en componentes (10 puntos)
      • La aplicación deb implementar una template (10 puntos)</p>
<div id="form" class="sandbox" style="text-align: center;" >
   <form v-on:submit.prevent >
   <input type="text" v-model="valor1">
   <label>Valor 1</label>
   <input type="text" v-model="valor2">
   <label>Valor 2</label>
   <input type="radio" name="sumar" placeholder="sumar"  value="Sumar" v-model="radio" >
   <input type="radio" name="restar" placeholder="restar" value="Restar"  v-model="radio">
   <input type="submit" value="VALIDAR" class="btn" v-on:click="sumar">
   <div class="globo" >{{globo}}</div>
   </form>

   
  
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="4_17_1.js">
</script>
</html>