<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <title>M4_6_1</title>
    </head>
<body>
   <h1>Actividad de aprendizaje 6: v-model y computed</h1>
   <p>
    Crear dos input para ingresar un nombre y una edad. Mostrar un mensaje con los datos:
    </p>
<div id="app" class="sandbox" style="text-align: center;">
<input type="text" name="nombre" placeholder="Nombre" v-model='nombre'>
<input type="text" name="nombre" placeholder="Appellido" v-model="edad">
<div>
   El nombre es : {{nombre}} su edad {{edad}}
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="4_6_1.js">
</script>
</html>